@model HospitalManagementSystem.Models.Patients.PatientsDetailsModel
@using Microsoft.AspNet.Identity;
@{ 
    ViewBag.Title = "Details";
}

<div class="row mt-60">
    <div class="col-md-4">
        @if (!string.IsNullOrEmpty(Model.ImagePath))
        {
            <img src="@Model.ImagePath" alt="article Image" width="200px"/>
        }
    </div>
    <div class="col-md-4">
        <h2><b> Name:</b> @Model.Name</h2>
        <h2><b>Age:</b> @Model.Age</h2>
        <h2><b>Gender:</b> @Model.Gender</h2>
        <h2><b>Condition:</b> @Model.Condition</h2>
        <h2><b>Status:</b> @Model.Status</h2>
        <h2><b>Room:</b> @Model.Room</h2>
        <h2><b>Physician:</b> @Model.Doctor</h2>      
        <footer class="pull-right">
            @if (User.Identity.IsAuthenticated)
            {
              
                if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.GetUserId()))
                {
                    <b> @Html.ActionLink("Edit", "Edit", "Patients", new { @id = Model.Id }, new { @class = "btn btn-primary btn-large" }) </b>
                    <b> @Html.ActionLink("Delete", "Delete", "Patients", new { @id = Model.Id }, new { @class = "btn btn-primary btn-large" }) </b>
                }

            }
            <b> @Html.ActionLink("Back", "AllPatients", "Patients", new { @id = Model.Id }, new { @class = "btn btn-primary btn-large" }) </b>
          
            </footer>

    </div>
    <div class="col-md-4">

    </div>
</div>







